/* App.css */
body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, red, yellow);
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.sidebar {
  background-color: #343a40;
  color: white;
  padding: 20px;
  min-width: 250px;
  height: 100vh;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #495057;
}

.content {
  flex: 1;
  padding: 20px;
  transform: translate(-50%,-50%);
}

h2 {
  color: #343a40;
  margin-bottom: 20px;
}

input {
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

button {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: white;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: greenyellow\;
}

li button:hover {
  background-color: #c82333;
}